html,
body {
  padding: 0;
  margin: 0;
  /* background-color:#36454F; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background:#4a74f5;
  width:-3px;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:white;    
  border-radius: 20px;  
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
